@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://use.typekit.net/rir2lud.css");
@import "variaveis.scss";
@import "header.scss";
@import "button.scss";
@import "hero.scss";
@import "slider.scss";
@import "conduta.scss";

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: $fonte-principal;
}
