//FONTES
$fonte-principal: "Montserrat", sans-serif;
$fonte-destaque: "amandine", sans-serif;

// CORES
$verde: #4e523f;
$bege: #927b4f;
$cinza: #f4f5ef;
$branco: #f1f1f1;
$verde-menu: #4e523fd7;

//MEDIA
$tablet: 1024px;

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
